In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_excel("trade.xlsx")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93309 entries, 0 to 93308
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS10                    93309 non-null  int64
 1   Unnamed: 1              93309 non-null  int64
 2   HS6                     93309 non-null  int64
 3   HS8                     93309 non-null  int64
 4   HS2                     93309 non-null  int64
 5   Наименование продукции  93309 non-null  object
 6   Ед.изм                  93309 non-null  object
 7   ex2022val               93309 non-null  object
 8   ex2022                  93309 non-null  object
 9   ex2023val               93309 non-null  object
 10  ex2023                  93309 non-null  object
 11  imp2022val              93309 non-null  object
 12  imp2022                 93309 non-null  object
 13  imp2023val              93309 non-null  object
 14  imp2023                 93309 non-null  object
 15  Страна назначения       93308 non-null  object
dtypes: int64(5), object(11)
memory usage: 11.4+ MB

In [8]:
df.head(1)

,HS10,Unnamed: 1,HS6,HS8,HS2,Наименование продукции,Ед.изм,ex2022val,ex2022,ex2023val,ex2023,imp2022val,imp2022,imp2023val,imp2023,Страна назначения
0,101210000,1012,101210,10121000,10,"Лошади, ослы, мулы и лошаки живые: лошади: чис...",шт.,-,-,-,-,36,72,-,-,Казахстан

In [24]:
#values_to_keep = [
#    '300212', '300211', '300215, ,300213', '300214', '300510', '300590', '300610', '300620', '300630','300640',
#    '300650','300670', '300691', '340700', '382100', '382200', '391740','300620', '392690','392620', '401511', 
#    '401519', '420613', '611510', '621010', '630790','841920', '841990', '842191', '852852', '300620','854370',
#    '871300', '871310', '871390', '871420', '900130', '900140', '900150', '900311', '900319', '900390', '900410',
#    '901180', '901811', '901812', '901813', '901814', '901819', '901820', '901832', '901841', '901849', '901850',
#    '901890', '901910', '901920', '902000', '902110', '902129', '902131', '902139', '902140', '902150', '902190',
#    '902213', '902214', '902219', '902221', '902230', '902290',  '902511', '902519', '901812', '902750','902780',
#    '902790','940210','940290','981000',
#]

In [ ]:
3002110000, 3002120001, 3002120002, 3002120003, 3002120004, 3002120005, 3002120009, 3002130000, 
3002140000, 3002150000, 3002190000, 3002200002, 3002200009, 3002300000, 3002410000, 3002420000, 
3002490001, 3002490009, 3002901000, 3002903000, 3002905000, 3002908000, 3002909000,

In [9]:
values_to_keep = [
    3002110000, 3002120001, 3002120002, 3002120003, 3002120004, 3002120005, 3002120009, 3002130000, 
    3002140000, 3002150000, 3002190000, 3002200002, 3002200009, 3002300000, 3002410000, 3002420000, 
    3002490001, 3002490009, 3002901000, 3002903000, 3002905000, 3002908000, 3002909000, 3005100000, 
    3005901000, 3005903100, 3005905000, 3005909900, 3006101000, 3006103000, 3006103009, 3006109000,
    3006300000, 3006400000, 3006500000, 3006600001, 3006600002, 3006600003, 3006600009, 3006700000,
    3006910000, 3006920000, 3006930000, 3821000000, 3822000000, 3822110000, 3822120009, 3822130000,
    3822190001, 3822190009, 3822900000, 3926909910, 3926909990, 3926201010, 4015110110, 4015110150, 
    4015190510, 4015190550, 6307908910, 8419905040, 8528520000, 8713100000, 8713900000, 8714200000,
    9001300000, 9001402000, 9001502000, 9001504100, 9001504900, 9003110000, 9003190009, 9003900001, 
    9003900009, 9004101000, 9004109100, 9004109900, 9011800000, 9018110000, 9018120000, 9018130000, 
    9018191000, 9018199000, 9018200000, 9018311001, 9018311009, 9018319009, 9018321000, 9018329000, 
    9018390000, 9018410000, 9018491000, 9018499000, 9018501000, 9018509000, 9018901000, 9018902000, 
    9018903000, 9018904000, 9018905001, 9018905009, 9018906000, 9018907500, 9018908401, 9018908409, 
    9018199530, 9018199535, 9018199550, 9018199560, 9018200040, 9018200080, 9018311001, 9018311009, 
    9018319009, 9018310040, 9018310080, 9018310090, 9018321000, 9018329000, 9018390020, 9018390040, 
    9018390050, 9018410000, 9018491000, 9018499000, 9018498040, 9018498080, 9018501000, 9018509000, 
    9018901000, 9018902000, 9018903000, 9018904000, 9018905001, 9018905009, 9018906000, 9018907500, 
    9018908401, 9018908409, 9018905040, 9018905080, 9018907520, 9018907540, 9018907560, 9018907570, 
    9018907580, 9019101000, 9019109001, 9019109009, 9019102010, 9019102020, 9019102030, 9019102035, 
    9019102045, 9019102050, 9019102090, 9019200000, 9021101000, 9021108001, 9021108002, 9021108003, 
    9021108004, 9021108009, 9021109000, 9021100050, 9021100090, 9021211000, 9021219000, 9021901000, 
    9021909001, 9021909009, 9021310000, 9021391000, 9021399000, 9021400000, 9021500000, 9021901000, 
    9021909001, 9021909009, 9021904040, 9021904080, 9022120000, 9022130000, 9022140000, 9022190000, 
    9022210000, 9022290000, 9022300000, 9022900000, 9025198040, 9025112001, 9025112009, 9025118000, 
    9025192000, 9025198001, 9025198009, 9025802000, 9025804000, 9025808000, 9025900001, 9025900003, 
    9025900008, 9027101000, 9027109000, 9027200000, 9027300000, 9027500000, 9027800500, 9027801100, 
    9027801700, 9027809100, 9027809900, 9027810000, 9027890000, 9027901000, 9027905000, 9027908000, 
    9402100001, 9402100009, 9402900000
]

In [11]:
# Отфильтруйте строки, оставив только те, которые содержат нужные значения в столбце HS 6
filtered_df = df[df['HS10'].isin(values_to_keep)]

In [12]:
filtered_df.to_excel('filtered_export10.xlsx', index=False)

In [13]:
filtered_df

,HS10,Unnamed: 1,HS6,HS8,HS2,Наименование продукции,Ед.изм,ex2022val,ex2022,ex2023val,ex2023,imp2022val,imp2022,imp2023val,imp2023,Страна назначения
16168,3002110000,3002,300211,30021100,30,"Кровь человеческая; кровь животных, приготовле...",т,-,-,-,-,1.025595,577.745,-,-,Германия
16169,3002120001,3002,300212,30021200,30,"Кровь человеческая; кровь животных, приготовле...",т,0.006,28.905,0.005,23.288,-,-,0.0025,12,Армения
16170,3002120001,3002,300212,30021200,30,"Кровь человеческая; кровь животных, приготовле...",т,0.002,9.951,0.0019,6.891,-,-,-,-,Казахстан
16171,3002120001,3002,300212,30021200,30,"Кровь человеческая; кровь животных, приготовле...",т,0.026,135.952,0.02055,105.777,-,-,-,-,Азербайджан
16172,3002120001,3002,300212,30021200,30,"Кровь человеческая; кровь животных, приготовле...",т,-,-,-,-,-,-,0.265,125,Германия
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87667,9402900000,9402,940290,94029000,94,"Мебель медицинская, хирургическая, стоматологи...",т,-,-,-,-,1.38753,19.244,0.2,8.5,Италия
87668,9402900000,9402,940290,94029000,94,"Мебель медицинская, хирургическая, стоматологи...",т,-,-,-,-,0.45,37.789,0.1905,22.148,Нидерланды
87669,9402900000,9402,940290,94029000,94,"Мебель медицинская, хирургическая, стоматологи...",т,-,-,-,-,7.89323,523.916,2.30079,102.793,Германия
87670,9402900000,9402,940290,94029000,94,"Мебель медицинская, хирургическая, стоматологи...",т,-,-,-,-,11.45996,11.537,-,-,США
87671,9402900000,9402,940290,94029000,94,"Мебель медицинская, хирургическая, стоматологи...",т,-,-,-,-,0.79,14,9.677,36.137,Соединенное Королевство (Великобритания)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93308 entries, 0 to 93307
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   HS 6                                   93307 non-null  float64
 1   Unnamed: 1                             93307 non-null  float64
 2   Unnamed: 2                             93307 non-null  float64
 3   country                                93307 non-null  object
 4   Trade regime                           93307 non-null  object
 5   Names                                  93307 non-null  object
 6   Ед.изм                                 93307 non-null  object
 7   Sum of количество                      93307 non-null  float64
 8   Sum of стоимость - 1000 $              93308 non-null  float64
 9   Unit value of imports in $             93307 non-null  float64
 10  MFN duty rate                          93307 non-null  object
 11  MFN tariff in %                        93307 non-null  float64
 12  Applied tariff rate                    93307 non-null  float64
 13  Collected tariffs                      93307 non-null  float64
 14  subject to duty change                 93307 non-null  object
 15  Import of goods with no change         93307 non-null  float64
 16  Sum Of Import of goods with no change  93307 non-null  float64
 17  Share of imp with no shock             93307 non-null  float64
 18  ImportDemandElasticity if blank = 1    93307 non-null  float64
 19  New duty 50 cut                        93307 non-null  float64
 20  dt/(1+t)                               93307 non-null  float64
 21  Trade creation                         93307 non-null  float64
 22  trade diversion 1                      93307 non-null  float64
 23  Sum Of trade diversion 1               93307 non-null  float64
 24  trade diversion 2                      93307 non-null  float64
 25  trade diversion all                    93308 non-null  float64
 26  total trade effect                     93308 non-null  float64
 27  welfare effect                         93308 non-null  float64
 28  Traiff revenue change                  93308 non-null  float64
dtypes: float64(23), object(6)
memory usage: 20.6+ MB